<p-table [value]="items" [paginator]="true" [rows]="5" totalRecords="totalRecords" pageLinks="3">

  <ng-template pTemplate="header">
    <tr>
      <th>title</th>
      <th>_about</th>
      <th>accesURL</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
    <tr>
      <td><input [disabled]="true" id="title_{{rowIndex}}" value="{{item.title}}"></td>
      <td><input [disabled]="true" id="about_{{rowIndex}}" value="{{item._about}}"></td>
      <td><input [disabled]="true" id="accessURL_{{rowIndex}}" value="{{item.accessURL}}"></td>
      <td><button id="editarBoton_{{rowIndex}}" (click)="editar(rowIndex)">Editar</button></td>
      <td><button (click)="eliminar(item)">Eliminar</button></td>
    </tr>
  </ng-template>
</p-table>

<div>
  <div>Agregar a tabla</div>
  <div>
    <div>title</div>
    <input id="new-title">
  </div>
  <div>
    <div>_about</div>
    <input id="new-about">
  </div>
  <div>
    <div>accesURL</div>
    <input id="new-acces">
  </div>

  <button (click)="agregarItem()">Agregar</button>
</div>